<h2 class="bookname">{{book1.name}} [Details]</h2>
<hr>
<div class="book-id">{{book1.id}}</div>

<div class="book-name">
<label for="name">Book name: </label> <br/>
<input id="name" [(ngModel)]="book1.name" placeholder="name">
</div>
<hr>
<h2 class="my-books">My books</h2>

<ul class="books-list">
    <li class="m-books">  <h2>{{Book2.name}}</h2></li>
    <li class="m-books">  <h2>{{Book3.name}}</h2></li>
    <li class="m-books">  <h2>{{Book4.name}}</h2></li>
    <li class="m-books">  <h2>{{Book5.name}}</h2></li>
    <li class="m-books">  <h2>{{Book6.name}}</h2></li>
    <li class="m-books">  <h2>{{Book7.name}}</h2></li>
</ul>
<hr>
